.table-data {
  .table-data-header {
    text-align: center;
  }
  .table-data-dropdown {
    margin: 20px 0 0 12px;
    select {
      margin-right: 5px;
      padding: 2px;
      border-radius: 4px;
    }
  }
  .table-data-container {
    max-width: 700px;
    .table-data-row__center {
      text-align: center;
      justify-content: center;
      margin: 10px 0;
    }
  }
}
